<form>
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</form>

<br />
<br />

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Value</th>
            <th>Required</th>
            <th>Valid</th>
            <th>ValueChanged Hit Count</th>
            <th>OPS Hit Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var input in Inputs)
        {
            <tr>
                <td>@input.Id</td>
                <td>@input.ValueAsString</td>
                <td>@input.Required</td>
                <td>@input.ValidationState.IsValid</td>
                <td>@input.ValueChangedHitCount</td>
                <td>@input.OnParamsSetHitCount</td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@Inputs.Sum(input => input.ValueChangedHitCount)</td>
            <td>@Inputs.Sum(input => input.OnParamsSetHitCount)</td>
        </tr>
    </tbody>

</table>