@typeparam TValue
@inherits Input<TValue>

<div>
    <div>
        @Id
    </div>
    <div>
        <input class="@(ValidationState.IsValid ? "valid" : "invalid")" @onchange="HandleChangeAsync" min="@Min" max="@Max" type="number" value="@Value" />
    </div>
    <div>
        @if (Min.HasValue)
        {
            <span>&gt;= @Min</span>

        }

        @if (Max.HasValue)
        {
            <span>&lt;= @Max</span>

        }

        @if (Min.HasValue && Max.HasValue)
        {
            <span>@Min-@Max</span>
        }
    </div>
    <div>
        @ValidationState.IsValid
    </div>
    <div>
        @ValidationState.ValidationMessage
    </div>
</div>

<br />