@typeparam TValue
@inherits Input<TValue>

<div>
    <div>
        @Id
    </div>
    <div>
        <input class="@(ValidationState.IsValid ? "valid" : "invalid")" maxlength="@MaxLength" minlength="@MinLength" @onchange="HandleChangeAsync" type="text" value="@ValueAsString" />
    </div>
    <div>
        @if (MinLength.HasValue && MaxLength.HasValue)
        {
            <span>&gt;@MinLength.Value and &lt; @MaxLength.Value</span>
        }
        else
        {
            @if (MinLength.HasValue)
            {
                <span>&gt; @MinLength.Value</span>
            }

            @if (MaxLength.HasValue)
            {
                <span>@(ValueAsString?.Length ?? 0)/@MaxLength.Value</span>
            }
        }
    </div>
    <div>
        @ValidationState.IsValid
    </div>
    <div>
        @CssClass
    </div>
    <div>
        @ValidationState.ValidationMessage
    </div>
</div>

<br />